*{
    margin: 0%;
}
header{
    height: 80px;
    background-color: chocolate;
    color: darkred;
    text-align: center;
}
.panel{
    overflow: hidden;
}
.nav{
    width: 20%;
    height: 500px;
    background-color: firebrick;
    color: black;
    text-align: center;
    float: left;
}
.conten{
    width: 80%;
    height: 500px;
    background-color: lightgreen;
    color: black;
    text-align: center;
    float: left;
}
.bar{
    width: 150px;
    height: 70%;
    background-color: darkviolet;
    color: black;
    text-align: center;
    float: right;
}
footer{
    height: 80px;
    background-color: rgb(10, 10, 9);
    color: rgb(232, 232, 240);
    text-align: center;
}

































