*{
    margin: 0;
}
header{
    background-color: darkkhaki;
    color: black;
    height: 100px;
    text-align: center;
}
.panel{
    overflow: hidden;
}
.left_panel{
    width: 20%;
    height: 400px;
    background-color: darkslateblue;
    color: darkred;
    text-align: center;
    float: left;

}
.middle_panel{
    width: 60%;
    height: 400px;
    background-color: mediumpurple;
    color: darkred;
    text-align: center;
    float: left;

}
.right_panel{
    width: 20%;
    height: 400px;
    background-color: darkslateblue;
    color: darkred;
    text-align: center;
    float: left;

}
.middle_panel{

}
.top{
    width: 100%;
    height: 100px;
    background-color: hotpink;
    color: darkblue;
    text-align: center;
}
.middle{
    width: 100%;
    height: 200px;
    background-color: crimson;
    color:darkblue;
    text-align: center;
}
.bottom{
    width: 100%;
    height: 100px;
    background-color: hotpink;
    color: darkblue;
    text-align: center;
}

footer{
    background-color: grey;
    color: darkblue;
    height: 80px;
    text-align: center;
}















