*{
    margin: 0%;
}
header{
    height: 80px;
    background-color: coral;
    color: black;
    text-align: center;
}
.neck{
    height: 60px;
    background-color: azure;
    overflow: hidden;
}
.name{
    width: 25%;
    height: 100%;
    background-color: chartreuse;
    text-align: center;
    float: left;
}
.adrs{
    width: 25%;
    height: 100%;
    background-color: darkred;
    text-align: center;
    float: left;
}
.srl{
    width: 25%;
    height: 100%;
    background-color: darkslateblue;
    text-align: center;
    float: left;

}
.dt{
    width: 25%;
    height: 100%;
    background-color: gold;
    text-align: center;
    float: left;
}
.conten{
    overflow: hidden;
}
.left{
    width: 50%;
    height: 400px;
    background-color: hotpink;
    color: darkblue;
    text-align: center;
    float: left;
}
.right{
    width: 50%;
    height: 400px;
    background-color: cornflowerblue;
    color: darkblue;
    text-align: center;
    float: left;
}
.left{
    overflow: hidden;

}
.one{
    width: 33.33%;
    height: 60%;
    background-color: aqua;
    float: left;
}
.two{
    width: 33.33%;
    height: 60%;
    background-color: firebrick;
    float: left;
}
.three{
    width: 33.33%;
    height: 60%;
    background-color: midnightblue;
    float: left;
}
.art{
    height: 400px;
    background-color: goldenrod;
    color: black;
    text-align: center;
}
.paragraph{
    height: 600px;
    overflow: hidden;
}
.img_one{
    height: 600px;
    width: 375px;
    background-color: blue;
    float: left;
}
.img_two{
    height: 600px;
    width: 375px;
    background-color: darkorchid;
    float: left;
}
.img_three{
    height: 600px;
    width: 375px;
    background-color: brown;
    float: left;
}
footer{
    height: 70px;
    background-color: darkslategray;
    color: black;
    text-align: center;
}



















